@import '../../scss/styles.scss';
@import '../../scss/partials/colors';

.landing-page {
  width: 100%;
  height: auto;
  min-height: 100%;
}

.content__wrap {
  display: flex;
  width: 100%;
  height: 100%;
}

// Content 
.lp-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
  background: rgb(32, 32, 48);
  background: linear-gradient(0deg, rgba(32, 32, 48, 1) 0%, rgba(43, 43, 64, 1) 100%);
  margin-top: 5rem;
  padding: 5rem;
}

// Header
.header {
  width: 100%;
  height: 18rem;
  margin-bottom: 5rem;
}

.header__img {
  background: url('../../images/Hytale-Mods-Banner1.jpg') no-repeat center;
  width: 100%;
  height: 100%;
}

// Mod Previews
.mod-previews {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 110rem;
  height: 100%;
}

.mp {
  display: flex;
  flex-direction: column;
  max-width: calc(96% / 3);
  height: 31rem;
  margin-bottom: 2rem;
}

.mod-card__img {
  width: 35rem;
  max-width: 100%;
  max-height: 18rem;
  background-color: $dark;
  align-self: center;
  flex: 0 1 1;
}

.mp-title__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 0.5rem 0;
  overflow: hidden;
}

.mp__title {
  font-size: 2rem;
  font-weight: bold;
}

.mp__author {
  font-size: 1.4rem;
  color: $offwhite;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: $primary-color;
  }
}

.more-info__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 2rem;
  background: $primary-color;
  border: none;
  border-radius: 0.5rem;
  color: $dark;
  font-size: 1.4rem;
  font-weight: bold;
  font-family: "M PLUS Rounded 1c";

  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
  }
}

a {
  text-decoration: none;
}

.mp__underline {
  width: 45%;
  height: 0.1rem;
  background: $highlight;
  border: none;
}

.mp__info {
  width: 100%;
  flex: 1;
  font-size: 1.25rem;
  font-weight: bold;
  color: rgba($offwhite, 0.75);
  padding-top: 0.5rem;
}

// Media Queries
@media only screen and (max-width: 1050px) {
  .header {
    display: none;
  }

  .mp {
    max-width: calc(95% / 2);
  }
}

@media only screen and (max-width: 650px) {
  .mod-previews {
    justify-content: center;
  }

  .mp {
    max-width: 35rem;
  }
}

@media only screen and (max-width: 450px) {
  .lp-content {
    padding: 2rem;
  }

  .mp {
    max-width: 32rem;
  }
}