@import '../../scss/partials/colors';

.profile__wrap {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  height: auto;
  background: rgb(32, 32, 48);
  background: linear-gradient(0deg, rgba(32, 32, 48, 1) 0%, rgba(43, 43, 64, 1) 100%);
}

.profile {
  display: flex;
  width: 120rem;
  height: auto;
  margin-top: 6.5rem;
  margin-bottom: 1.5rem;
  padding: 1rem;
}

// Profile Info
.p-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  border-radius: 1.5rem;
  margin-right: 1.5rem;
}

.p-user-info {
  display: flex;
  width: 100%;
  min-height: 10rem;
  margin-bottom: 1.5rem;
}

.p-user-card {
  display: flex;
  width: 100%;
  height: 100%;
}

.p-user-avatar {
  width: 10rem;
  height: 10rem;
  background: $dark;
  border-radius: 0.5rem;
  margin-right: 1rem;
}

.p-user-details {
  display: flex;
  flex-direction: column;
}

.p-user__username {
  font-size: 2.6rem;
  color: $primary-color;
}

.p-user__dates {
  font-size: 1.1rem;
}

// Profile Interaction
.p-user-interaction {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.p-nav {
  display: flex;
  border: 1px solid rgba($highlight, 0.25);
  margin-bottom: 0.5rem;
}

.p-nav__list {
  display: flex;
  width: 100%;
  height: 100%;
}

.p-nav__list-item {
  font-size: 1.3rem;
  font-weight: bold;
  height: 100%;
  list-style: none;
  padding: 0.5rem 2rem;
  transition: color 0.2s ease-in-out;

  &:hover {
    cursor: pointer;
    color: $primary-color;
  }
}

// Profile Projects
.p-user-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border: 1px solid rgba($highlight, 0.25);
}

.p-projects {
  display: flex;
  width: 100%;
  height: 100%;
}

.p-projects__list {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 2rem;
}

.p-projects__list-item {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 9rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid rgba($highlight, 0.25);
  margin-bottom: 2rem;
}

.p-project-avatar {
  min-width: 6.4rem;
  min-height: 6.4rem;
  background: $dark;
  border-radius: 0.5rem;
  margin-right: 1rem;
}

.p-project-details {
  display: flex;
  flex-direction: column;
}

.p-project__name {
  font-size: 1.8rem;
  font-weight: 400;
  color: $offwhite;
  transition: color 0.2s ease-in-out;

  &:hover {
    cursor: pointer;
    color: $primary-color;
  }
}

.p-project__dates {
  font-size: 1rem;
}

// Sidebar
.p-sidebar {
  display: flex;
  flex-direction: column;
  width: 30rem;
  height: auto;
}

.sponsored-banner {
  width: 100%;
  min-height: 4rem;
  margin-bottom: 0.5rem;
}

.sponsored-banner__image {
  width: 100%;
  height: auto;
}

// Media Queries
@media only screen and (max-width: 900px) {
  .profile {
    flex-direction: column;
    margin-top: 5rem;
    margin-bottom: 0;
    overflow: hidden;
  }

  .p-content {
    margin-bottom: 1rem;
    margin-right: 0;
  }

  .p-sidebar {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
}

@media only screen and (max-width: 900px) {
  .p-user__username {
    font-size: 2rem;
  }

  .p-user__dates {
    font-size: 1rem;
  }
}