@import '../../scss/partials/colors';
@import '../../scss/partials/mixins';

// Navbar Container
.navbar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5rem;
  background: $dark;
  border-bottom: 1px solid $highlight;
  padding: 0.5rem 1.5rem;
  z-index: 100;
  position: fixed;
  box-shadow: 0 1rem 1rem rgba($dark, 0.25);
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 100;
}

// Site Logo
.logo {
  min-width: 10rem;
  width: 25rem;
  height: 5rem;
  z-index: 100;
}

.logo__img {
  background: url('../../images/hytalemodslogo2.png') no-repeat center;
  background-size: contain;
  width: 100%;
  height: 100%;
  z-index: 100;

  &:hover {
    cursor: pointer;
  }
}

.navbar-collapse {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

// Search Bar
.searchbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 100%;
  flex-shrink: 1;
  margin: 0 2rem;
}

.searchbar__wrap {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 42rem;
  height: 100%;
}

.searchbar__input {
  position: relative;
  font-size: 1.4rem;
  width: 100%;
  height: 100%;
  border-radius: 1.5rem;
  border: none;
  padding: 0.2rem 1.5rem;
  -moz-box-shadow: inset 0 0 10px rgba($dark, 0.35);
  -webkit-box-shadow: inset 0 0 10px rgba($dark, 0.35);
  box-shadow: inset 0 0 10px rgba($dark, 0.35);
  z-index: 100;

  &:focus {
    outline: none;
  }
}

.searchbar__icon {
  position: absolute;
  background: url('../../images/search-icon.png') no-repeat center;
  background-size: contain;
  width: 2.4rem;
  height: 2.4rem;
  right: 0.5rem;
  z-index: 100;

  &:hover {
    cursor: pointer;
  }

  &--white {
    @extend .searchbar__icon;
    display: none;
    position: static;
    background: url('../../images/search-icon-white.png') no-repeat;
    background-size: contain;
    margin: 0 1rem;
  }
}

// Sign in buttons
.nav__button-container {
  display: flex;
  justify-content: flex-end;
  min-width: 25rem;
  margin-left: auto;
}

.nav__button {
  font-size: 2rem;
  font-weight: bold;
  color: $offwhite;
  text-decoration: none;
  min-width: 5rem;

  &:hover {
    cursor: pointer;
  }

  &--primary {
    @extend .nav__button;
    color: $primary-color;
    margin-right: 2rem;
  }
}

// Hamburger icon
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  min-width: 2.4rem;
  min-height: 2rem;
  z-index: 100;
  @include user-select(none);

  &:hover {
    cursor: pointer;
  }
}

.hamburger__line {
  width: 100%;
  height: 0.2rem;
  background: $offwhite;
  border: none;
  z-index: 100;
}

// Invisible overlay for mobile
#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

// Media Queries 
@media only screen and (max-width: 900px) {
  .searchbar__wrap {
    width: 100%;
  }

  .nav__button-container {
    min-width: 16rem;
  }

}

@media only screen and (max-width: 600px) {
  .navbar__container {
    justify-content: flex-end;
  }

  .navbar-collapse {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    -webkit-transform: translateX(105%);
    -moz-transform: translate(105%);
    transform: translateX(105%);
    will-change: transform;
    right: 0;
    top: 5rem;
    width: 26rem;
    height: 100%;
    background: $dark;
    border-left: 0.1rem solid $highlight;
    padding: 1rem;
  }

  .navbar-collapse--open {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    -webkit-transform: translate(none);
    -moz-transform: translate(none);
    transform: translate(none);
    right: 0;
    top: 5rem;
    width: 26rem;
    height: 100%;
    background: $dark;
    border-left: 0.1rem solid $highlight;
    padding: 1rem;
  }

  .animated--in {
    transition: all 130ms ease-in;
  }

  .animated--out {
    transition: all 330ms ease-out;
  }

  .hamburger {
    display: flex;
  }

  .logo {
    margin-right: auto;
    width: 15rem;
    height: 3rem;
  }

  .searchbar {
    width: 100%;
  }

  .nav__button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 7rem;
    margin-top: 2rem;
  }

  .nav__button {
    text-align: center;
    font-size: 1.8rem;
  }

  .nav__button--primary {
    margin: 0;
  }
}